@use '../utils/variables' as variables;
@use '../utils/mixins' as mixins;

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 28px;
  flex-wrap: wrap;
  width: 90%;        
  max-width: 900px;  
  margin: 0 auto;  
}
.search-input {
  flex: 1 1 auto;           
  min-width: 250px;         
  max-width: 600px;         
  padding: 12px 20px;
  border: 2px solid variables.$uranian-blue;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.search-button {
  padding: 14px 28px;         
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: variables.$fairy-tale;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 10px;


}

// Responsive
@media (max-width: 480px) {
  .search-input {
    width: 90%;
    max-width: 100%;
  }

  .search-button {
    width: 100%;
  }
}
